.cssload-loader * {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.cssload-loader {
    width: 1em;
    height: 1em;
    font-size: 94px;
    position: relative;
    display:block;
    margin: 31px auto;
}

.cssload-loader:before, .cssload-loader:after {
    content: "";
    top: 0;
    display: block;
    width: 1em;
    height: 1em;
    position: absolute;
    border-width: 0.5em;
    border-style: double;
    border-color: transparent;
    border-radius: 1em;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    animation: spin 1.15s infinite;
    -o-animation: spin 1.15s infinite;
    -ms-animation: spin 1.15s infinite;
    -webkit-animation: spin 1.15s infinite;
    -moz-animation: spin 1.15s infinite;
}
.cssload-loader:after {
    left: 0;
    border-left-color: rgb(77, 113, 196);
}
.cssload-loader:before {
    right: 0;
    border-right-color: rgb(77, 113, 196);
    animation-delay: -0.29s;
    -o-animation-delay: -0.29s;
    -ms-animation-delay: -0.29s;
    -webkit-animation-delay: -0.29s;
    -moz-animation-delay: -0.29s;
}

.nowrap-normal{
    white-space: normal !important;
}

.plr0{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.mlr0{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.pt0{
    padding-top: 0 !important;
}

@keyframes spin {
    from {
        transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    from {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(360deg);
    }
}

/* Correcion al input para la busqueda en datatable */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

/* Estilo para la ventana en proceso */
.dataTables_processing {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    width: 250px !important;
    height: 80px !important;
    margin-left: -125px !important;
    margin-top: -15px !important;
    padding: 15px 0 30px 0 !important;
    border: 1px solid #ddd !important;
    text-align: center !important;
    color: #444 !important;
    font-size: 14px !important;
    background: url("../img/loading_bar.gif") no-repeat center 38px #fff !important;
    box-shadow: 2px 2px 5px #444 !important;
    -moz-box-shadow: 2px 2px 5px #444 !important;
    -webkit-box-shadow: 2px 2px 5px #444 !important;
    z-index: 2 !important;
}

body {
    padding-right: 0 !important;
}

.dataTables_wrapper table.dataTable thead .sorting::before {
    opacity: 1 !important;
}

.emojionearea .emojionearea-editor:empty::before {
    content: attr(placeholder);
    display: block;
    color: #bbb;
    padding-top: 1em;
}

.vuebar-element {
    height: 300px !important;
}

.vuebar-element-sms {
    height: 370px !important;
}

.vb > .vb-dragger {
    z-index: 5;
    width: 12px;
    right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0,0,0,0);
    transform: rotate3d(0,0,0,0);
    -webkit-transition:
            background-color 100ms ease-out,
            margin 100ms ease-out,
            height 100ms ease-out;
    transition:
            background-color 100ms ease-out,
            margin 100ms ease-out,
            height 100ms ease-out;
    background-color: rgba(48, 121, 244,.1);
    margin: 5px 5px 5px 0;
    border-radius: 20px;
    height: calc(100% - 10px);
    display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
}

.scrolling-wrapper-flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper-flexbox .card {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 3px;
}

.border_fix {
    border: 1px solid #ecf1f9 !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.imgOverlay:hover .image {
    opacity: 0.3;
}

.imgOverlay:hover .middle {
    opacity: 1;
}

.checkbox-in-widget {
    padding-left: 1.142857em !important;
}

.centerTableImg > tbody > tr > td {
    vertical-align: middle !important;
}

.listChatCampaign {
    margin: 0px 0 !important;
}

.listChatNumers {
    margin: 0px 0 !important;
}

.listChatNumbers .bone.player {
    width: 100%;
    height: 250px;
}

.listChatNumbers-info {
    display: flex;
    margin-top: 10px;
}

img.profile-pic {
    margin-right: 20px;
}

img.profile-pic-reply {
    margin-left: 20px;
}

.inputSearch::-webkit-search-cancel-button {
    -webkit-appearance: none !important;
}

.hiddenRow {
    padding: 0 !important;
}

.popover-header {
    display: none !important;
}

.divOverflowY {
    overflow-y: auto !important;
    height:380px !important;
}

.sub-menu li>a i{
    font-size: 0.8em;
}

.mail-select-checkbox i{
    font-size: 2.5em;
    padding-right: 10px;
}

.btn-sm, .btn-group-sm > .btn{
    line-height: 1.8 !important;
    border-radius: 0 !important;
}

.bg-cian{
    background: #ccc;
}

.bootstrap-filestyle input[type="text"]{
    background: white;
}

.txt-calendar{
    background-image: url("../images/calendar.png") !important;
    background-position: right center;
    background-repeat: no-repeat;
}

.txt-calendar-clock{
    background-image: url("../images/calendar-clock.png") !important;
    background-position: right center;
    background-repeat: no-repeat;
}

.table .avatar img{
    width: 30px;
    max-width: 30px;
    min-width: 30px;
    height: auto;
}

.table .btn-group .btn-sm{
    margin-right: 2px;
    margin-left: 0px !important;
}
.table-bordered > thead > tr > th{
    border-color: #2d488e !important;
    border-top: solid 1px #2d488e !important;
}

.btn-orange2{
    background: #fdebce !important;
    border: solid 1px #f1cd90 !important;
    color: #444 !important;
}
.btn-yellow2{
    background: #fdf8ce !important;
    border: solid 1px #dbe065 !important;
    color: #444 !important;
}
.btn-cian{
    background: #ceeefd !important;
    border: solid 1px #85bee4 !important;
    color: #444 !important;
}
.btn-green2{
    background: #d9fdce !important;
    border: solid 1px #a6e485 !important;
    color: #444 !important;
}
.btn-purple2{
    background: #fdcee8 !important;
    border: solid 1px #ea92e1 !important;
    color: #444 !important;
}
.btn-green-aqua{
    background: #CFFCE6 !important;
    border: solid 1px #85e4d1 !important;
    color: #444 !important;
}

.btn-purple-dark{
    background: #eadffd !important;
    border: solid 1px #d4abef !important;
    color: #444 !important;
}

.btn-rose2{
    background: #fddfdf !important;
    border: solid 1px #efb0ab !important;
    color: #444 !important;
}

.btn-gray2{
    background: #ccc !important;
    border: solid 1px #aaa !important;
    color: #444 !important;
}

.search input{
    line-height: 1 !important;
}

span.badge{
    font-weight: 400 !important;
    letter-spacing: inherit !important;
}

table .bg-span{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.badge.securitec.bg-success{
    background: #d9fdce !important;
    border: solid 1px #a6e485 !important;
    color: #444;
    border-radius: initial;
}

.badge.securitec.bg-danger{
    background: #fddfdf !important;
    border: solid 1px #efb0ab !important;
    color: #444;
    border-radius: initial;
}

.badge.securitec.bg-yellow{
    background: #fdf8ce !important;
    border: solid 1px #dbe065 !important;
    color: #444;
    border-radius: initial;
}

.widget-dashboard{
    padding: 5px 13px !important;
}

.widget-dashboard .widget-title{
    letter-spacing: inherit !important;
    color: #444 !important;
}

.fixLineHeight {
    line-height: 1.6 !important;
}

.bootstrap-select .btn-default .bs-caret{
    line-height: 1.5 !important;
}

.widget-bg .widget-heading {
    padding: 5px 20px !important;
}

.fixLineHeightChat {
    line-height: 1.5 !important;
}

.flag-icon-operador-claro {
    background-image: url(/images/mobile/claro.png);
}

.flag-icon-operador-entel {
    background-image: url(/images/mobile/entel.png);
}

.flag-icon-operador-movistar {
    background-image: url(/images/mobile/movistar.png);
}

.flag-icon-operador-tuenti {
    background-image: url(/images/mobile/tuenti.png);
}

.flag-icon-operador-nextel {
    background-image: url(/images/mobile/nextel.png);
}

.flag-icon-operador-bitel {
    background-image: url(/images/mobile/bitel.png);
}

.btnCustom{
    margin-top:14px !important;
}

.custom-title{
    background: #4b64a6;
    margin-bottom: 0 !important;
}

.custom-title > div > h5{
    font-size: 14px;
    padding: 6px 0px 6px 15px;
    margin: 0 !important;
}

.table-bordered.table-custom > thead > tr > th {
    border-color: #c5c8ce!important;
    border-top: solid 1px #c5c8ce !important;
    background: #e2e2e2;
    color: #333;
}

.table-bordered.table-vertical tr > th {
    background: #e2e2e2;
    color: #333;
    border: solid 1px #c5c8ce;
}

.bg-nor{
    background: #008001 !important;
    cursor: default !important;
    color: white !important;
}

.bg-cpp{
    background: #9ACD32 !important;
    cursor: default !important;
    color: white !important;
}
.bg-def{
    background: #FFD801 !important;
    cursor: default !important;
    color: white !important;
}
.bg-dud{
    background: #FFA500 !important;
    cursor: default !important;
    color: white !important;
}
.bg-per{
    background: #FE0000 !important;
    cursor: default !important;
    color: white !important;
}
.bg-scal{
    background: #444444 !important;
    cursor: default !important;
    color: white !important;
}

.card-header-search {
    padding: 0.75rem 1.25rem !important;
    background-color: rgba(0, 0, 0, 0.03) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
    color:#666 !important;
}

.collapse-header-card {
    padding: 0.4em 0.4em 0.4em 0.8em !important;
}

.collapse-card-body {
    margin-top: -10px !important;
}

.bg-percentage-0-10 {
    background-color: #adedc8 !important;
    border-color: #adedc8 !important;
}

.bg-percentage-10-25 {
    background-color: #9feabf !important;
    border-color: #9feabf !important;
}

.bg-percentage-25-50 {
    background-color: #92e7b6 !important;
    border-color: #92e7b6 !important;
}

.bg-percentage-50-75 {
    background-color: #84e4ad !important;
    border-color: #84e4ad !important;
}

.btnFilterPerson {
    padding: 0rem 1em !important;
    border-radius: 0px !important;
}