body {
    background: url('../../img/bg_login2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.phrase h1{
    font-weight: 500;
    font-size: 2.6rem;
    width: 60%;
}

.login-center{
	max-width: 380px;
	padding: 2em 2.5em !important;
	margin: 0 auto 30px !important
	-webkit-box-shadow: -9px 10px 51px -8px rgba(0,0,0,0.75);
-moz-box-shadow: -9px 10px 51px -8px rgba(0,0,0,0.75);
box-shadow: -9px 10px 51px -8px rgba(0,0,0,0.75);
}

.login-center input[type="text"],.login-center input[type="password"]{
	padding: 4px 10px;
}

.login-center .btn i{
	margin-right: 5px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus{
    border: 1px solid #b1b1b1;
    -webkit-text-fill-color: #333;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}