// main: ../style.scss
/********************************
*********************************
Site Map
*********************************
*********************************/

.sitemap {
  position: relative;

  i {
    font-size: em(18);
    vertical-align: top;
    top: 2px;
    color: #7c8d96 !important;
  }

  a {
    color: #7c8d96;
    &:hover {
      color: $color-scheme;
    }
  }

  ul {
    margin-left: 0;
  }


  li {
    position: relative;
    padding-left: 2.2em;
    padding-top: 0;

    &.menu-item-has-children {
      > ul {
        margin-top: em(10);
        margin-left: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0.9em;
      top: -1em;
      height: 1.9em;
      width: 1.5em;
      border-bottom: rem(1) solid #ddd;
      border-left: rem(1) solid #ddd;
    }

  }
}

.sitemap-default,
.sitemap-right     {
  a {
    margin-left: -0.285714em;
  }
}

.sitemap-right {
  strong {
    color: $color-scheme;
    text-transform: uppercase;
    font-size: em(15);
    font-weight: 500;
  }
}
